.header {
    position: absolute;
    width: 1440px;
    height: 72px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
}




@media (max-width: 600px) {
    #container1 {
        display: none;
    }

    #container2 {
        display: flex;
        position: absolute;
        left: 100px;
    }

}

@media (min-width: 600px) {
    #container1 {
        position: absolute;
        left: 50px;
        display: flex;
    }

    #container2{
        display: none;
    }
}


.popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    display: none;
}

.popup-content-create-account {
    position: absolute;
    width: 736px;
    height: 513px;
    left: 352px;
    top: 186px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
}

.popup-content-sign-in {
    position: absolute;
    width: 736px;
    height: 457px;
    left: 352px;
    top: 186px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: none;
}

.motivate {
    position: absolute;
    width: 736px;
    height: 50px;
    left: 0px;
    top: 0px;
    background: #EFFFF4;
    border-radius: 8px 8px 0px 0px;
}

.motivate-text {
    position: absolute;
    width: 619px;
    height: 16px;
    left: 59px;
    top: 17px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    text-align: center;

    color: #008A45;
}

.cancel {
    position: absolute;
    left: 1076.33px;
    top: 148.33px;
}

.cre-account {
    position: absolute;
    left: 0px;
    top: 50px;
}

.cre-acc {
    width: 173px;
    height: 31px;
    position: absolute;
    left: 36px;
    top: 74px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;

    color: #000000;
}

.already-acc {
    position: absolute;
    right: 36px;
    top: 81px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    /* identical to box height */

    text-align: right;

    color: #3D3D3D;

}

.people-image {
    position: absolute;
    left: 380px;
    top: 129px;
}

.sign-in-terms {
    position: absolute;
    left: 383px;
    top: 461px;
    width: 317px;
    height: 16px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    /* identical to box height, or 145% */

    text-align: right;
    letter-spacing: -0.008em;

    color: #000000;

    opacity: 0.6;
}

.sign-up-google {
    position: absolute;
    left: 36px;
    top: 439px;
    width: 320px;
    height: 38px;
    background: #FFFFFF;
    border: 0.6px solid #D9D9DB;
    border-radius: 2px;
    box-sizing: border-box;
}

.google-img {
    position: absolute;
    left: 85px;
    top: 11px;
}

.google-text {
    position: absolute;
    left: 111px;
    top: 11px;
    width: 125px;
    height: 16px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.sign-up-facebook {
    position: absolute;
    width: 320px;
    height: 38px;
    left: 36px;
    top: 393px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 0.6px solid #D9D9DB;
    border-radius: 2px;
}

.fb-img {
    position: absolute;
    left: 77px;
    top: 11px;
}

.fb-text {
    position: absolute;
    left: 103px;
    top: 11px;
    width: 141px;
    height: 16px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.create-button {
    position: absolute;
    left: 36px;
    top: 329px;
    width: 320px;
    height: 40px;
    background: #2F6CE5;
    border-radius: 20px;
}

.create-button-text {
    position: absolute;
    width: 100px;
    height: 16px;
    left: 110px;
    top: 12px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.cre-details-box {
    position: absolute;
    left: 36px;
    top: 129px;
    width: 320px;
    height: 181px;
}

.names {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 320px;
    height: 46px;
    background: #F7F8FA;
    border: 1px solid #D9D9DB;
    border-radius: 2px 2px 0px 0px;
}

.fname-text {
    position: absolute;
    width: 76px;
    height: 16px;
    left: 12px;
    top: 15px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: #8A8A8A;
}

.vert-line {
    position: absolute;
    width: 0px;
    height: 45px;
    left: 160px;
    top: 0px;
    border: 1px solid #D9D9DB;
}

.lname-text {
    position: absolute;
    width: 73px;
    height: 16px;
    left: 172px;
    top: 15px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: #8A8A8A;
}

.email {
    position: absolute;
    width: 320px;
    height: 46px;
    left: 0px;
    top: 45px;
    background: #F7F8FA;
    border: 1px solid #D9D9DB;
}

.email-text {
    position: absolute;
    width: 39px;
    height: 16px;
    left: 12px;
    top: 15px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: #8A8A8A;
}

.password {
    position: absolute;
    width: 320px;
    height: 46px;
    left: 0px;
    top: 90px;
    background: #F7F8FA;
    border: 1px solid #D9D9DB;
}

.password-text {
    position: absolute;
    width: 67px;
    height: 16px;
    left: 12px;
    top: 15px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: #8A8A8A;
}

.pw-icon {
    position: absolute;
    left: 284px;
    top: 14px;

}

.confirm-pw {
    position: absolute;
    width: 320px;
    height: 46px;
    left: 0px;
    top: 135px;
    background: #F7F8FA;
    border: 1px solid #D9D9DB;
}

.confirm-pw-text {
    position: absolute;
    width: 126px;
    height: 16px;
    left: 12px;
    top: 15px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: #8A8A8A;
}






.logo {
    position: absolute;
    width: 162.57px;
    height: 24px;
    left: 72px;
    top: 24px;
}

.search-box {
    position: absolute;
    width: 360px;
    height: 42px;
    left: 540px;
    top: 16px;
    background: #F2F2F2;
    border-radius: 21px;
}

.buttons {
    width: 16.03px;
    height: 16.03px;
    position: absolute;
    left: 16.75px;
    right: 14.63%;
    top: 12px;
    bottom: 11px;
    color: #5C5C5C;

}

.buttons button {
    border: 0;
    background: transparent;

}

.search-text {
    position: absolute;
    width: 242px;
    height: 19px;
    left: 50px;
    top: 12px;
    right: 68px;
    bottom: 11px;
    font-size: 14px;
    line-height: 18px;
    color: #5C5C5C;
}

.search-text input {
    border: none;
    background: transparent;
    width: 242px;
    height: 19px;
}

.cre-account {
    /* Create account. It’s free! */
    position: absolute;
    width: 183px;
    height: 21px;
    left: 1161px;
    top: 27px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: #2E2E2E;
}

#main {
    /* Rectangle 3 */

    position: absolute;
    width: 1440px;
    height: 440px;
    left: 0px;
    top: 72px;
}

#content {
    width: 1440px;
    height: 1965px;
    position: absolute;
    left: 0px;
    top: 512px;
}

#navs {
    width: 1040px;
    height: 88px;
    position: absolute;
    left: 200px;
    right: 200px;
}



.post {
    width: 274px;
    height: 366px;
    position: absolute;
    right: 0px;
    left: 408px;
}



.allposts {
    /* All Posts(32) */

    position: absolute;
    width: 93px;
    height: 21px;
    left: 0px;
    top: 47px;
    right: 20px;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */

    color: #000000;

}

.article {
    /* Article */

    position: absolute;
    width: 47px;
    height: 21px;
    left: 113px;
    top: 47px;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */

    color: #8A8A8A;


}

.event {
    position: absolute;
    width: 41px;
    height: 21px;
    left: 180px;
    top: 47px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */

    color: #8A8A8A;
}

.education {
    position: absolute;
    width: 72px;
    height: 21px;
    left: 239px;
    top: 47px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */

    color: #8A8A8A;
}

.job {
    position: absolute;
    width: 27px;
    height: 21px;
    left: 331px;
    top: 47px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */

    color: #8A8A8A;
}

.wpost {
    position: absolute;
    width: 133px;
    height: 36px;
    left: 766px;
    top: 40px;
    background: #EDEEF0;
    border-radius: 4px;
}

.writepost {
    position: absolute;
    width: 83px;
    height: 20px;
    left: 12px;
    top: 8px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #000000;

}

.posttri {
    position: absolute;
    width: 9.17px;
    height: 4.58px;
    left: 111.42px;
    top: 8px;
}

.jgroup {
    position: absolute;
    width: 125px;
    height: 36px;
    left: 915px;
    top: 40px;
    background: #2F6CE5;
    border-radius: 4px;
}

.followicon {
    position: absolute;
    width: 22px;
    height: 11.92px;
    left: 10px;
    top: 11.58px;
}

.joingroup {
    position: absolute;
    width: 75px;
    height: 20px;
    left: 38px;
    top: 8px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

#hrline {
    width: 1040px;
    height: 0px;
    position: absolute;
    left: 200px;
    top: 88px;
    right: 200px;
    border: 1px solid #E0E0E0;
}

.hr1 {
    position: absolute;
    width: 93px;
    height: 0px;
    left: 0px;
    border: 1px solid #000000;
}

#mainpart {
    position: absolute;
    width: 1440px;
    height: 1965px;
    left: 0px;
    top: 88px;
}

.posts {
    position: absolute;
    width: 692px;
    height: 1751px;
    left: 200px;
    top: 28px;
    bottom: 98px;
}

.location {
    position: absolute;
    width: 243px;
    height: 29px;
    left: 1000.75px;
    top: 57.5px;

}

.locicon {
    position: absolute;
    width: 10.5px;
    height: 15px;
    left: 0px;
    top: 0px;
}

.loctext {
    position: absolute;
    width: 77px;
    height: 18px;
    left: 18.25px;
    top: 0px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: #000000;
}

.locedit {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 221.75px;
    top: 0px;
}

.lochr {
    position: absolute;
    width: 243px;
    height: 0px;
    left: 0px;
    bottom: 0px;
    border: 0.4px solid #B8B8B8;
}

.locdetails {
    position: absolute;
    width: 243px;
    height: 32px;
    left: 1000px;
    top: 117px;
}

.detailicon {
    position: absolute;
    width: 13.33px;
    height: 13.33px;
    left: 0px;
    top: 0px;
    opacity: 0.5;
}

.detail-text {
    position: absolute;
    width: 220px;
    height: 32px;
    right: 0px;
    top: 0px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    color: #000000;

    opacity: 0.5;
}

.section {
    position: absolute;
    width: 692px;
    height: 472px;
    left: 0px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
}

.art {
    position: absolute;
    width: 77px;
    height: 25px;
    left: 20px;
    bottom: 207px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

.art-main-text {
    position: absolute;
    width: 600px;
    height: 60px;
    left: 20px;
    bottom: 137px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 134.17%;
    color: #000000;
}

.art-text {
    position: absolute;
    width: 652px;
    height: 25px;
    left: 20px;
    bottom: 100px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 134.17%;
    color: #5C5C5C;
}

.profile-dp {
    position: absolute;
    left: 20px;
    bottom: 20px;
    border-radius: 24px;
}

.profile-name {
    position: absolute;
    width: 125px;
    height: 24px;
    left: 78px;
    bottom: 32px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

.view {
    position: absolute;
    left: 495.75px;
    bottom: 38.37px;
}

.view-text {
    position: absolute;
    width: 69px;
    height: 18px;
    left: 521px;
    bottom: 38.37px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: right;

    color: #525252;
}

.share {
    position: absolute;
    left: 630px;
    bottom: 26px;
}

.section2 {
    position: absolute;
    width: 692px;
    height: 472px;
    left: 0px;

    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    background-color: #000000;
}

.meetup {
    position: absolute;
    width: 85px;
    height: 25px;
    left: 20px;
    bottom: 225px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;

    color: #000000;
}

.meetup-visit-button {
    position: absolute;
    width: 652px;
    height: 38px;
    left: 20px;
    bottom: 100px;
    background: #FFFFFF;
    border: 0.7px solid #A9AEB8;
    border-radius: 8px;
}

.visit-website {
    position: absolute;
    width: 80px;
    height: 18px;
    left: 286px;
    top: 10px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 140.4%;
    /* or 18px */

    text-align: center;

    color: #E56135;
}

.meetup-main-text {
    position: absolute;
    width: 600px;
    height: 29px;
    left: 20px;
    bottom: 186px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    /* identical to box height */


    color: #000000;
}

.cal-icon {
    position: absolute;
    left: 22.5px;
    top: 316.83px;
}

.date-and-time {
    position: absolute;
    width: 142px;
    height: 20px;
    left: 44px;
    bottom: 154px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height */


    color: #000000;
}

.locat {
    position: absolute;
    left: 230.17px;
    top: 317.67px;
}

.loc-text {
    position: absolute;
    width: 128px;
    height: 20px;
    left: 250px;
    bottom: 154px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height */


    color: #000000;
}

.job-post {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 53px;
    height: 25px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;

    color: #000000;
}

.soft-developer {
    position: absolute;
    left: 20px;
    top: 55px;
    width: 600px;
    height: 30px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 134.55%;
    /* identical to box height, or 30px */


    color: #000000;

}

.apply-job-box {
    position: absolute;
    width: 650px;
    height: 36px;
    left: 22px;
    bottom: 100px;
    background: #FFFFFF;
    border: 0.7px solid #A9AEB8;
    border-radius: 10px;
}

.apply-job {
    position: absolute;
    width: 118px;
    height: 18px;
    left: 266px;
    top: 9px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 140.4%;
    /* or 18px */

    text-align: center;

    color: #02B875;
}

.companies-icon {
    position: absolute;
    left: 20px;
    top: 97px;
}

.company-name {
    position: absolute;
    width: 226px;
    height: 20px;
    left: 44px;
    top: 97px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height */


    color: #000000;

}

.job-loc-icon {
    position: absolute;
    left: 314.17px;
    top: 98.67px;
}

.job-location {
    position: absolute;
    width: 85px;
    height: 20px;
    left: 334px;
    top: 97px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height */


    color: #000000;
}


.mobilecontainer {
    position: absolute;
    width: 360px;
    top: 0px;
    left: 0px;
    display: flex;
}

.logoimg {
    position: absolute;
    left: 0px;
    top: 24px;
    width: 360px;
    height: 236px;
    background-image: url(images/LogoImg.png);
    opacity: 0.85;
}

.popupmobile {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    display: none;
}

.popupmobile-create-content {
    position: absolute;
    width: 360px;
    height: 462px;
    left: 100px;
    top: 178px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
    border-radius: 8px 8px 0px 0px;
    display: flex;
}

.popupmobile-signin-content {
    position: absolute;
    width: 360px;
    height: 462px;
    left: 100px;
    top: 178px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
    border-radius: 8px 8px 0px 0px;
    display: none;
}

.cre-text-mobile {
    position: absolute;
    left: 20px;
    top: 22px;
    width: 130px;
    height: 23px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;

    color: #000000;
}

.cancel-icon-mobile {
    position: absolute;
    left: 318px;
    top: 24px;
}

.fb-mobile-box {
    position: absolute;
    left: 20px;
    top: 302px;
    width: 320px;
    height: 38px;
    background: #FFFFFF;
    border: 0.6px solid #D9D9DB;
    border-radius: 2px;
}

.google-mobile-box {
    position: absolute;
    left: 20px;
    top: 352px;
    width: 320px;
    height: 38px;
    background: #FFFFFF;
    border: 0.6px solid #D9D9DB;
    border-radius: 2px;
}

.terms-mobile-text {
    position: absolute;
    left: 57px;
    top: 412px;
    width: 240px;
    height: 432px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    /* or 145% */

    text-align: center;
    letter-spacing: -0.008em;

    color: #212529;
}

.fb-mobile-img {
    position: absolute;
    left: 82px;
    top: 11px;
}

.google-mobile-img {
    position: absolute;
    left: 89px;
    top: 11px;
}

.google-mobile-text {
    position: absolute;
    left: 115px;
    top: 11px;
    width: 116px;
    height: 16px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.fb-mobile-text {
    position: absolute;
    left: 108px;
    top: 11px;
    width: 131px;
    height: 16px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.create-mobile-box {
    position: absolute;
    left: 20px;
    top: 244px;
    width: 150px;
    height: 36px;
    background: #2F6CE5;
    border-radius: 20px;
}

.create-mobile-text {
    position: absolute;
    width: 93px;
    height: 16px;
    left: 29px;
    top: 10px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;

}

.create-mobile-signin-text {
    position: absolute;
    left: 280px;
    top: 253px;
    width: 60px;
    height: 17px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    text-decoration-line: underline;
    color: #495057;
}

.details-create-mobile-box {
    position: absolute;
    left: 20px;
    top: 65px;
    width: 320px;
    height: 157px;
}

.names-mobile-box {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 320px;
    height: 40px;
    background: #F7F8FA;
    border: 1px solid #D9D9DB;
}

.confirm-pw-mobile-text {
    position: absolute;
    left: 12px;
    top: 12px;
    width: 109px;
    height: 16px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #8A8A8A;
}

.email-mobile-text {
    position: absolute;
    width: 34px;
    height: 16px;
    left: 12px;
    top: 12px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #8A8A8A;

}

.pw-mobile-text {
    position: absolute;
    width: 59px;
    height: 16px;
    left: 12px;
    top: 12px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #8A8A8A;
}

.pw-mobile-view-icon {
    position: absolute;
    left: 294.67px;
    top: 15px;
}

.fname-mobile-text {
    position: absolute;
    width: 66px;
    height: 16px;
    left: 12px;
    top: 12px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #8A8A8A;
}

.lname-mobile-text {
    position: absolute;
    width: 66px;
    height: 16px;
    left: 172px;
    top: 12px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #8A8A8A;
}

.vert-line-mobile {
    position: absolute;
    left: 160px;
    top: 0px;
    width: 0px;
    height: 40px;
    border: 1px solid #D9D9DB;
}

.signin-mobile-create-text {
    position: absolute;
    left: 230px;
    top: 175px;
    width: 110px;
    height: 17px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    text-align: right;
    text-decoration-line: underline;
    color: #495057;
}

.back-arrow-icon {
    position: absolute;
    left: 20px;
    top: 20px;
}

.ce-mobile-text {
    position: absolute;
    left: 16px;
    top: 164px;
    width: 179px;
    height: 22px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
}

.ce-mobile-followers-text {
    position: absolute;
    width: 218px;
    height: 16px;
    left: 16px;
    top: 188px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}

.posts368 {
    position: absolute;
    width: 73px;
    height: 18px;
    left: 16px;
    top: 282px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #212529;
}

.filter-button {
    position: absolute;
    width: 106px;
    height: 32px;
    left: 236px;
    top: 274px;
    background: #F1F3F5;
    border-radius: 4px;
}

.filter-button-text {
    position: absolute;
    width: 55px;
    height: 17px;
    left: 10px;
    top: 8px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    color: #212529;
}

.vector-mobile-icon {
    position: absolute;
    left: 81.83px;
    top: 4px;
}

.mobile-posts {
    position: absolute;
    left: 0px;
    top: 326px;
    height: 1270px;
    width: 360px;
    background: #F1F3F5;
}

.mobile-sec1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 360px;
    height: 307px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
}

.mobile-sec2 {
    position: absolute;
    left: 0px;
    top: 313px;
    width: 360px;
    height: 340px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
}

.mobile-sec3 {
    position: absolute;
    left: 0px;
    top: 659px;
    width: 360px;
    height: 374px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
}

.mobile-sec4 {
    position: absolute;
    left: 0px;
    top: 1039px;
    width: 360px;
    height: 237px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
}

.sec1-mobile-img {
    position: absolute;
    left: 0px;
    top: 0px;
}

.sec2-mobile-img {
    position: absolute;
    left: 0px;
    top: 12px;
}

.sec3-mobile-img {
    position: absolute;
    left: 0px;
    top: 0px;
}

.mobile-posts-dp {
    position: absolute;
    left: 16px;
    bottom: 20px;
    border-radius: 24px;
}

.mobile-profile-text {
    position: absolute;
    left: 65px;
    bottom: 38px;
    width: 91px;
    height: 17px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    color: #212529;
}

.mobile-posts-views {
    position: absolute;
    width: 59px;
    height: 16px;
    left: 65px;
    bottom: 22px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #495057;
}

.share-button-mobile {
    position: absolute;
    width: 70px;
    height: 36px;
    left: 272px;
    bottom: 20px;
    background: #F1F3F5;
    border-radius: 4px;
}

.share-text-mobile {
    position: absolute;
    left: 30px;
    top: 10px;
    width: 32px;
    height: 16px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #212529;
}

.share-icon-mobile {
    position: absolute;
    left: 10.25px;
    top: 10.5px;
}

.edu-text-mobile {
    position: absolute;
    left: 16px;
    top: 146px;
    width: 82px;
    height: 19px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.site-box-mobile {
    position: absolute;
    width: 328px;
    height: 34px;
    left: 16px;
    bottom: 85px;
    background: #FFFFFF;
    border: 0.7px dashed #A9AEB8;
    border-radius: 8px;
}

.site-box-mobile-text {
    position: absolute;
    left: 124px;
    top: 8px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 140.4%;
    text-align: center;
    color: #E56135;
}

.posts-detail-mobile-text {
    position: absolute;
    left: 16px;
    width: 280px;
    top: 171px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #212529;
}

.posts-sub-head-text-mobile {
    position: absolute;
    left: 16px;
    bottom: 78px;
    width: 324px;
    height: 18px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #495057;
}

.date-time-mobile {
    position: absolute;
    left: 34px;
    bottom: 135px;
    width: 120px;
    height: 16px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #212529;
}

.location-detail-mobile {
    position: absolute;
    left: 196px;
    bottom: 135px;
    height: 16px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #212529;
}

.location-icon-mobile {
    position: absolute;
    left: 181.33px;
    bottom: 132.33px;
}

.job-suitcase-mobile-icon {
    position: absolute;
    left: 17.33px;
    top: 81px;
}

.cale-icon-mobile {
    position: absolute;
    left: 18px;
    top: 223.67px;
}

.join-group-button-mobile {
    position: absolute;
    left: 266px;
    top: 14px;
    width: 76px;
    height: 28px;
    border: 0.8px solid #FFFFFF;
    border-radius: 4px;
}

.join-group-text-mobile {
    position: absolute;
    width: 60px;
    height: 16px;
    left: 8px;
    top: 6px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}